<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/vendor.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <script src='/js/vendor.js'></script>
    <script src='/js/index.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
